* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
html {
    font-size: 62.5%;
    font-family: Verdana, sans-serif;
}
body {
    height: 100px;
    width: 100vw;
    text-align: center;
    background-color: lightblue;
    margin: 0;
}
header {
    display: inline-block;
    height: 200px;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(0,0,0,0.16);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(100,100,215, 0.16);
    background-color: #000d31;
    color: white;
}
header h1 {
    margin: 35px auto;
    font-size: 2rem;
}
header p {
    font-size: 1.8rem;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: end;
    place-items: center;
    width: 100vw;
    min-height: 70px;
    padding: 5px 15px;
    background-color: black;

}
.navbar li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 1.8rem;
    font-family: verdana,sans-serif;
}
.navbar li a {
    text-decoration: none;
    color: #ffffff;
    
}
.navbar li a:hover {
    color: lightgreen;
    font-size: 2rem;
}
.navbar li::first-letter {
    color: yellow;
    text-decoration: underline;
}
.calcSquare {
    background-color: #00264b;
    width: 80%;
    height: 250px;
    margin: 10px auto;
    border-radius: 8px;
    padding-top: 30px;
    font-size: 1.8rem;
    color: white;
   
}
.calcSquare h2, .calcTriangulo h2, .CalcCircle h2, .reset h2 {
    padding: 5px;
}
.calcSquare form {
    width: 70%;
    margin: auto;
}
.calcSquare label {
    padding: 0 10px;
    margin: 3px auto;
}
.calcSquare input, .CalcCircle input, .calcTriangulo input {
    width: 100px;

}
.calcSquare button, .calcTriangulo button, .CalcCircle button {
    margin: 10px auto;
    background-color: orange;
    height: 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;

}
.calcTriangulo {
    display: flex;
    flex-direction: column;
    background-color: #013e66;
    width: 80vw;
    height: 350px;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 30px;
    font-size: 1.8rem;
    color: white;
   
}
.CalcCircle {
    display: flex;
    flex-direction: column;
    background-color: #015882;
    width: 80vw;
    height: 350px;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 30px;
    font-size: 1.8rem;
    color: white;
}
.reset {
    display: flex;
    flex-direction: column;
    background-color: #2475a0;
    width: 80vw;
    height: 150px;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 30px;
    font-size: 1.4rem;
    color: white;

}
.reset button {
    background-color: #912b00;
    font-size: 1.4rem;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;
    color: white;
    padding: 5px;
}


@media (max-width: 600px) {
 
    .calcSquare {
    height: 320px;   
    }
    .calcSquare form {

        width: 80%;
        margin: 0 auto;
    }
    .calcTriangulo {
        height: 550px;
    }
.calcTriangulo form{
        width: 80%;
        margin: 0 auto;
    }
.calcTriangulo p {
    width: 80%;
    margin: 0 auto;
}
.CalcCircle {
    height: 550px;
}
.CalcCircle form{
    width: 80%;
    margin: 0 auto;
}
.CalcCircle p {
width: 80%;
margin: 0 auto;
}
.reset {
    height: 200px;
}
}
@media (max-width: 380px) {
    .calcSquare {
    height: 420px;   
    }
    .calcTriangulo {
        height: 700px;
    }
    .CalcCircle button {
        height: 35px;
    }
    
}