* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    position: relative;
    width: 100vw;
    height: 150px;
    text-align: center;
    background-color: #27ae60;
}
header h1 {
    padding: 50px 10px 0px;
    font-size: 2.rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: #ffffff;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: end;
    place-items: center;
    width: 100vw;
    min-height: 70px;
    padding: 5px 15px;
    background-color: black;

}
.navbar li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 1.8rem;
    font-family: verdana,sans-serif;
}
.navbar li a {
    text-decoration: none;
    color: #ffffff;
    
}
.navbar li a:hover {
    color: lightgreen;
    font-size: 2rem;
}
.navbar li::first-letter {
    color: yellow;
    text-decoration: underline;
}
section {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 20px;
    min-width: 300px;
    background-color: aquamarine;
}
section h2 {
    margin: 15px auto;
    text-align: center;
    font-size: 2.2rem;
    min-width: 300px;
    max-width: 900px;
}
section form {
    width: 80vw;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 180px 100px;
    grid-auto-rows:minmax(30px, 40px);
    border: 1px solid blueviolet;
    margin: 0 auto;
}
section label {
    align-self: center;
    font-size: 1.8rem;
}
section input {
    height: 20px;
    width: 50px;
    place-self: center;
    
}